body { //body всегда 100%
  .font-regular();
  width: 100%;

  ul { //сброс для списков
    padding: 0;
    margin: 0;

    list-style: none;
  }

  a { //ссылка без underline
    .underline();
  }

}

@font-face {
  font-family: 'OSans';
  src: url('../fonts/opensans.woff') format('woff'),
  url('../fonts/opensans.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'OSans bold';
  src: url('../fonts/opensansbold.woff') format('woff'),
  url('../fonts/opensansbold.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'OSans light';
  src: url('../fonts/opensanslight.woff') format('woff'),
  url('../fonts/opensanslight.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

img { //фикс для img
  max-width: 100%;
  height: auto;
}

.page-header__container { //контейнеры для основных блоков
    .container();
}

.features__container {
  .container();
}

.slider__container {
  .container();
}

.contacts__container {
  .container();
}

.photo__container {
  .container();
}

.footer__container {
  .container();
}

.form__container {
  .container();
}
