.font (@size: 14px; @line: 30px; @weight: 400) {
  font-size: @size;
  line-height: @line;
  font-weight: @weight;
}

.font-bigger (@size: 18px; @line: 30px; @weight: 400) {
  font-size: @size;
  line-height: @line;
  font-weight: @weight;
}

.uppercase (@uppercase: uppercase;) {
  text-transform: @uppercase;
}

.underline (@none: none;) {
  text-decoration: @none;
}
