.font (@size: 14px; @line: 30px; @weight: 400; @color: @navy) {
  font-size: @size;
  line-height: @line;
  font-weight: @weight;
  color: @color;
}

.uppercase (@uppercase: uppercase;) {
  text-transform: @uppercase;
}

.underline (@none: none;) {
  text-decoration: @none;
}
