.font(@size: 14px; @line: 30px) {
  font-size: @size;
  line-height: @line;
}

.font-bigger(@size: 18px; @line: 30px) {
  font-size: @size;
  line-height: @line;
}

.font-regular(@font: 'OSans') {
  font-family: @font, sans-serif;
}

.font-bold(@font: 'OSans bold') {
  font-family: @font, sans-serif;
}

.font-light(@font: 'OSans light') {
  font-family: @font, sans-serif;
}

.uppercase(@uppercase: uppercase;) {
  text-transform: @uppercase;
}

.underline(@none: none;) {
  text-decoration: @none;
}

.clearfix() {
  &::after {
    content: "";

    display: table;
    clear: both;
  }
}

.container() {

  width: 320px;
  margin: 0 auto;

  @media @tablet-w {
    width: 620px;
  }

  @media @desktop-w {
    width: 940px;
  }

}

// flex-wrap
// align-content
// justify-content
// order
// больше ничего не понадобится по идее
// 90% это просто
// display:flex;
// и flex-wrap
// а align-content
// justify-content
// order уже для самой мелочи
