// COLORS

@navy: #283645;
@navydark: #1d2631;
@white: #fff;
@black: #000;
@grey: #f2f2f2;
@pink: #d22856;
@green: #2aab6d;

// FONTS

@page-font: Open Sans, sans-serif;
@bold: 700;
@regular: 400;
@light: 300;
