.contacts {
  background-color: @white;
}

.contacts__items h2 {
  .font(24px, 24px);
  .font-light();
  color: @navy;
}

.contacts__items h3 {
  .font(18px, 18px);
  .font-bold();
  color: @navy;
}

.contacts__items a {
  .font(24px, 24px);
  .font-light();
  color: @pink;
}
