.contacts {
  background-color: @white;

  h2 {
    .font(24px, 24px);
    .font-light();
    color: @navy;
  }

  h3 {
    .font(18px, 18px);
    .font-bold();
    color: @navy;
  }

  a {
    .font(24px, 24px);
    .font-light();
    color: @pink;
  }

}
