.download-app {
  padding-top: 29px;
  padding-left: 20px;

  h2 {
    display: none;
  }

  a {
    display: inline-block;
    .font(18px, 18px);
    .font-bold();
    color: @white;
  }

  p {
    display: inline-block;
    padding-left: 26px;
    margin-bottom: 29px;

    .font(14px, 24px);
    .font-light();
    color: @white;
    text-align: center;
  }

  .btn {
    padding-top: 13px;
    padding-bottom: 17px;
    padding-left: 36px;
    padding-right: 35px;

    margin-bottom: 32px;

    border: 3px solid @white;
    border-radius: 50px;
  }

  img {
    margin-left: 31px;
    margin-bottom: 4px;

    &:nth-child(1) {
      margin-left: 38px;
    }

  }

}

@media @tablet-w {

  .download-app {
    z-index: 10;
    position: absolute;
    top: 397px;
    left: 21px;

    padding-left: 21px;

    h2 {
      display: inline-block;
      width: 200px;
      margin-left: 48px;

      .font(40px, 47px);
      .font-light();
      color: @white;
      text-align: center;
    }

    .btn {
      padding-left: 44px;
      padding-right: 48px;
      margin-bottom: 46px;

    }

    img {
      margin-left: 31px;
      margin-bottom: 14px;

      &:nth-child(1) {
        margin-left: 45px;
      }

      &:nth-child(2) {
        opacity: 0.4;
      }

    }

    p {
      .font(18px, 24px);
    }

  }

}

@media @desktop-w {

  .download-app {
    top: 149px;
    left: 88px;

    padding-left: 20px;

    h2 {
      display: inline-block;
      width: 250px;
      margin-bottom: 50px;

      .font(50px, 60px);
      .font-light();
    }

    a {
      .font(21px, 18px);
    }

    .btn {
      padding-left: 30px;
      padding-right: 27px;
      margin-bottom: 68px;
      margin-left: 21px;

    }

        img {
      margin-bottom: 33px;

      &:nth-child(1) {
        margin-left: 70px;
      }

      &:nth-child(2) {
        opacity: 0.4;
      }

    }

    p {
      padding-left: 24px;
      .font(18px, 24px);
    }

  }

}
