.download-app {
  .flex();
  flex-direction: row;

  .download-app__btn {
    padding-top: 15px;
    padding-bottom: 16px;
    padding-left: 35px;
    padding-right: 36px;
    margin-top: 26px;
    margin-bottom: 30px;
    margin-left: 20px;
    margin-right: 20px;

    .font(18px, 18px);
    .font-bold();
    color: @white;
    border: 3px solid @white;
    border-radius: 30px;
  }

  .download-app__icons {
    .flex();
    padding-left: 55px;
    padding-right: 55px;
    margin-bottom: 8px;
  }

  .downlod-app__icon {
    display: block;
    height: 60px;
    width: 50px;

    font-size: 0px;
    background-image: url('../img/logo-apple.svg');
    background-repeat: no-repeat;
    background-position: center;

    &--apple {
      margin-right: 31px;
    }

    &--android {
      margin-right: 29px;
      background-image: url('../img/logo-android.svg');
      background-position: 3px 11px;
    }

    &--win {
      background-image: url('../img/logo-microsoft.svg');
      background-position: 3px 15px;
    }

  }

  p {
    padding-left: 26px;
    padding-right: 26px;
    margin-bottom: 29px;

    .font(14px, 24px);
    .font-light();
    color: @white;
    text-align: center;
  }

}

@media @tablet-w {

  .download-app {
    display: none; //TEMP
    width: 50%;
    order: 1;
  }

}

@media @desktop-w {

  .download-app {
    width: 50%;
    order: 1;
  }

}
