.features {
  display: flex;

  background-color: @grey;

  h1 {
    .font(18px, 24px);
    .font-bold();
    color: @black;
  }

  h2 {
    .font(24px, 24px);
    .font-light();
    color: @navy;
  }

  p {
    .font(14px, 24px);
    .font-light();
    color: @navy;
  }

  .features__title {
    display: flex;
    flex-direction: column;
  }

  .features__items {
    display: flex;
    flex-wrap: wrap;
  }

  .features__img {
    display: flex;
    justify-content: center;
  }

}

@media @tablet-w {

  .features {
    flex-direction: row;

    .features__title {

    }

    .features__items {

    }

    .features__img {

    }

  }

}
