.features {
  background-color: @grey;
}

.features h1 {
  .font(18px, 24px);
  .font-bold();
  color: @black;
}

.features h2 {
  .font(24px, 24px);
  .font-light();
  color: @navy;
}

.features p {
  .font(14px, 24px);
  .font-light();
  color: @navy;
}
