.features {

  .features__container {
    .flex();
  }

  h1 {
    .font(18px, 24px);
    .font-bold();
    color: @black;
    font-weight: normal;
  }

  h3 {
    .font(30px, 36px);
    .font-bold();
    color: @black;
  }


  a {
    .font(14px, 24px);
    .font-light();
    color: @pink;
    text-decoration: underline;
  }

  .features__title {
    padding-top: 21px;
    padding-bottom: 22px;
    text-align: center;

    h2 {
      display: inline-block;
      margin-bottom: 9px;

      .font(24px, 29px);
      .font-light();
      color: @navy;
      font-weight: normal;
    }

  }

  .features__items {
    padding-top: 69px;
    padding-bottom: 300px; //TEMP

    text-align: center;
    background-color: @grey;

    p {
      padding-left: 26px;
      padding-right: 26px;

      .font(14px, 23px);
      .font-light();
      color: @navy;
    }

    .features__item {
      padding-bottom: 6px;
    }

  }

  .features__item-clock {
    display: none;
  }

}

@media @tablet-w {

  .features {

    .features__title {
      width: 100%;
    }

    .features__items {
      width: 50%;
      order: 2;
    }

    .features__img {
      width: 50%;
      order: 1;
    }

    .features__item-bottom {
      display: flex;
      justify-content: space-between;
      flex-wrap: nowrap;
      order: 3;

      img {
        width: 40%;
      }

      .features__item-bottom-text {
        width: 40%;
      }

    }

  }

}

@media @desktop-w {

  .features {

    .features__title {
      width: 100%;
      order: 1;
    }

    .features__items {
      display: flex;
      width: 100%;
      order: 3;
    }

    .features__img {
      width: 100%;
      order: 2;
    }

    .features__item-bottom {
      display: block;
      order: 3;
    }

    .features__item-bottom {
      display: flex;
      justify-content: space-between;
      order: 3;

      img {
        width: 25%;
      }

      .features__item-bottom-text {
        width: 60%;
      }

    }

  }

}
