.footer {
  background-color: @white;

  span {
    .font(14px, 18px);
    .font-regular();
    color: @navy;
  }

.footer__container {
  .flex();
  padding-left: 20px;

}

  .footer__logo {
    padding-left: 75px;

    .footer__logo-desktop {
      display: none;
    }

    a:hover {

      .footer__logo-main {
        fill: @pink;
      }

    }

    a:active {

      .footer__logo-main {
        fill: @navy;
      }

      .footer__logo-main--glasses {
        fill: @pink;
      }

      .footer__logo-main {
        opacity: 0.3;
      }

    }

  }

  .footer__social {
    padding-top: 21px;
    padding-left: 62px;
    padding-bottom: 20px;

    &-btn {
      display: inline-block;
      .round-box();
      width: 46px;
      height: 46px;
      margin-right: 7px;


      font-size: 0;
      background-repeat: no-repeat;
      background-position: center;

      &--tw {
        background-image: url('../img/icon-twitter.svg');
      }

      &--fb {
        background-image: url('../img/icon-facebook.svg');
        background-position: center 12px;
      }

      &--yo {
        background-image: url('../img/icon-youtube.svg');
        background-position: center 14px;
      }

    }

    &-btn:hover {
      border: 3px solid rgba(40, 54, 69, 1);
    }

    &-btn:active {
      border: 3px solid rgba(40, 54, 69, 0.6);
      opacity: 0.3;
    }

  }

  .footer__copyright {
    .flex();
    padding-top: 18px;
    padding-left: 85px;
    margin-right: 15px;

    span {
      padding-top: 6px;
      margin-right: 13px;
    }

    .footer__logo-ha:hover {
      fill: @navy;
    }

    .footer__logo-ha:active {
      fill: @navy;
      opacity: 0.3;
    }

  }

}

@media @mobile-w {

  .footer {
    display: none;
  }

  .footer--mobile {
    display: block;
  }

}

@media @tablet-w {

  .footer {
    display: block;

  .footer__container {
    display: flex;
    width: 620px;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 8px;
    padding-bottom: 40px;
    justify-content: space-between;

  }

    .footer__logo {
      padding: 0px;
      margin-top: 11px;


      a:hover {

        .footer__logo-main {
          fill: @pink;
        }

      }

      a:active {

        .footer__logo-main {
          fill: @navy;
        }

        .footer__logo-main--glasses {
          fill: @pink;
        }

        .footer__logo-main {
          opacity: 0.3;
        }

      }

    }

    .footer__social {
      padding: 0px;
      margin-right: 10px;
    }

    .footer__copyright {
      padding: 0px;
      padding-top: 26px;
      margin: 0px;
    }

  }

}

@media @desktop-w {

  .footer {

    .footer__container {
      width: 940px;
      padding-bottom: 70px;
      padding-left: 130px;
      padding-right: 130px;
      padding-top: 57px;
    }

    .footer__logo {
      padding: 0px;

      .footer__logo-mobile {
        display: none;
      }

      .footer__logo-desktop {
        display: block;
      }

    }

    .footer__social {
      margin-left: 28px;
    }

    .footer__copyright {

      span {
        .font(18px, 18px);
        padding-top: 5;
        margin-right: 13px;
      }

    }

  }

}
