.footer {
  background-color: @white;

  span {
    .font(14px, 18px);
    .font-regular();
    color: @navy;
  }

.footer__container {
  .flex();
  // padding-top: 13px;
  padding-left: 20px;

}

  .footer__logo {
    padding-left: 75px;

    a {
      display: inline-block;
            width: 150px;
      height: 50px;
      font-size: 0;
      background-image: url('../img/logo-pink-blue-mobile.svg');
      background-repeat: no-repeat;
    }

  }

  .footer__social {
    padding-top: 16px;
    padding-left: 62px;
    padding-bottom: 20px;

    &-btn {
      display: inline-block;
      .round-box();
      width: 46px;
      height: 46px;
      margin-right: 7px;

      border-width: 3px;
      font-size: 0;
      background-repeat: no-repeat;
      background-position: center;

      &--tw {
        background-image: url('../img/icon-twitter.svg');
      }

      &--fb {
        background-image: url('../img/icon-facebook.svg');
      }

      &--yo {
        background-image: url('../img/icon-youtube.svg');
      }

    }

  }

  .footer__copyright {
    .flex();
    padding-top: 18px;
    padding-left: 85px;
    margin-right: 15px;

    span {
      padding-top: 6px;
      margin-right: 13px;
    }

    a {
      display: inline-block;
      width: 30px;
      height: 35px;

      font-size: 0;
      background-image: url('../img/logo-htmlacademy.svg');
      background-repeat: no-repeat;
      background-position: center;
    }

  }

}

@media @mobile-w {

  .footer {
    display: none;
  }

  .footer--mobile {
    display: block;
  }

}

@media @tablet-w {

  .footer {
    display: block;

  .footer__container {
    display: flex;
    width: 620px;
    padding: 0px;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 8px;
    align-items: center;
    justify-content: space-between;

  }

    .footer__logo {
      padding: 0px;

      a {
        width: 150px;
        height: 60px;
        background-image: url('../img/logo-pink-blue-mobile.svg');
      }

    }

    .footer__social {
      padding: 0px;
      margin-right: 10px;
    }

    .footer__copyright {
      padding: 0px;
      padding-top: 20px;
      margin: 0px;
    }

  }

}

@media @desktop-w {

  .footer {

    .footer__container {
      width: 940px;
      padding-bottom: 0px;
      padding-left: 130px;
      padding-right: 130px;
      padding-top: 0px;
    }

    .footer__logo {
      padding: 0px;

      a {
        width: 150px;
        height: 60px;
        background-image: url('../img/logo-pink-blue-desktop.svg');
      }

    }

    .footer__social {
      margin-left: 28px;

    }

    .footer__copyright {

      span {
        .font(18px, 18px);
        margin-right: 10px;
      }

    }

  }

}
