.footer {
  background-color: @white;

  span {
    .font(14px, 18px);
    .font-regular();
    color: @navy;
  }

}

@media @mobile-w {

  .footer {
    display: none;
  }

  .footer--mobile {
    display: block;
  }

}

@media @tablet-w {

  .footer {
    display: block;
  }

  .footer__container {
    display: flex;
    justify-content: space-around;
  }

}

@media @desktop-w {

  .footer {
    display: block;
  }

  .footer__container {
    display: flex;
    justify-content: space-around;
  }

}
