.form {
  background-color: @white;
}

.form__user p {
  .font();
  .font-regular();
  color: @navy;
}

.form__user label {
  .font();
  .font-regular();
  color: @pink;
  .uppercase();
}

// .form__user input { PLACEHOLDER!!!!
//   .font (18px, 30px, 400, @navy);
// }

.form__achievement span {
  .font(14px, 18px);
  .font-regular();
  color: @pink;
  .uppercase();
}

.form__achievement label {
  .font-bigger();
  .font-regular();
  color: @navy;
}

.form__contacts label {
  .font();
  .font-regular();
  color: @pink;
  .uppercase();
}

// .form__contacts input { PLACEHOLDER !!!
//   .font (14px, 30px, 400, @navy);
// }

.form__radio span {
  .font(14px, 18px);
  .font-regular();
  color: @pink;
  .uppercase();
}

.form__radio-item label {
  .font-bigger();
  .font-regular();
  color: @navy;
}

.form__send span:nth-child(1) {
  .font();
  .font-regular();
  color: @pink;
  .uppercase();
}

.form__send textarea {
  .font();
  .font-regular();
  color: @navy;
}

.form__send span:nth-child(2) {
  .font();
  .font-regular();
  color: @navy;
}

.form__send i {
  .font();
  .font-regular();
  color: @pink;
}
