.form {
  background-color: @white;

  p {
    display: inline-block;
    padding-top: 31px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;

    .font(14px, 30px);
    color: @navy;
    text-align: center;
  }

}

form {
  display: flex;
  flex-wrap: wrap;

  label {
    .font();
    .font-regular();
    color: @pink;
    .uppercase();
  }

  input {
    .font(18px, 30px);
    opacity: 1;
    border: 2px solid @light-grey;

    &::-webkit-input-placeholder {color: @navy;}
    &::-moz-placeholder          {color: @navy;}/* Firefox 19+ */
    &:-moz-placeholder           {color: @navy;}/* Firefox 18- */
    &:-ms-input-placeholder      {color: @navy;}
  }

  span:not(:nth-child(4)) {
    display: inline-block;
    padding-left: 20px;
    padding-right: 40px;
    padding-bottom: 43px;

    .font(14px, 18px);
    .font-regular();
    .uppercase();
    color: @pink;
    text-align: center;
  }

}

.form__user {
  display: flex;
  flex-wrap: wrap;
  padding-left: 20px;
  padding-bottom: 26px;

  label {
    padding-left: 23px;
    padding-bottom: 5px;
  }

  input {
    padding-top: 14px;
    padding-left: 21px;
    padding-right: 24px;
    padding-bottom: 13px;
    margin-bottom: 19px;
  }

  .form__user-lastname {
    display: flex;
    flex-direction: column;
  }

  .form__user-name {
    display: flex;
    flex-direction: column;
  }

  .form__user-patronymic {
    display: flex;
    flex-direction: column;
  }

}

.form__achievement {
  padding-top: 37px;
  padding-left: 19px;
  background-color: @grey;

  label {
    display: flex;
    align-content: flex-end;
    margin-bottom: 43px;

    .font-bigger();
    .font-regular();
    color: @navy;
    text-transform: none;
  }

  &-item [type="checkbox"] {
    display: none;
  }

  &-item [type="checkbox"] + div {
    margin-right: 32px;
    width: 35px;
    height: 35px;
    background-color: @white;
    border: 2px solid @light-grey;
    border-radius: 3px;
  }

  &-item [type="checkbox"]:checked + div {
    background-image: url('../img/tick.svg');
    background-repeat: no-repeat;
    background-position: 8px 9px;
  }

}

.form__contacts label {
  .font();
  .font-regular();
  color: @pink;
  .uppercase();
}

.form__radio {

  label {
    .font-bigger();
    .font-regular();
    color: @navy;
  }

}

.form__send {
  display: flex;
  flex-wrap: wrap;

  textarea {
    resize: none;
    .font();
    .font-regular();
    color: @navy;
  }

  span:nth-child(2) {
    .font();
    .font-regular();
    color: @navy;
  }

  b {
    .font();
    .font-regular();
    color: @pink;
  }

}

@media @tablet-w {

  .form__user {
    width: 100%;
    order: 1;

    .form__user-lastname {
      width: 100%;
      flex-direction: row;
    }

    .form__user-name {
      width: 100%;
      flex-direction: row;
    }

    .form__user-patronymic {
      width: 100%;
      flex-direction: row;
    }

  }

  .form__achievement {
    order: 4;
  }

  .form__contacts {
    width: 100%;
    order: 3;

    &-phone {
      display: flex;
      flex-direction: column-reverse;
    }

    &-mail {
      display: flex;
      flex-direction: column-reverse;
    }

  }

  .form__radio {
    order: 2;
  }

  .form__send {
    order: 5;
    justify-content: space-between;

    textarea {
      width: 500px;
      height: 190px;
    }

  }

}

@media @desktop-w {

  .form__user {
    width: 50%;
  }

  .form__radio {
    width: 50%;
  }

  .form__contacts {
    display: flex;
    justify-content: space-between;
  }

  .form__achievement {

    &-items {
      display: flex;
      width: 100%;
      flex-wrap: wrap;
      justify-content: space-between;
    }
  }

  .form__send {

    span:nth-child(1) {
      width: 100%;
    }

    textarea {
      width: 100%;
    }

  }

}
