.nav {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;

  background-color: @navydark;

  a {
    .font(18px, 32px);
    .font-bold();
    .uppercase();

    color: @white;
  }

  .nav__item-main {
    display: flex;
    justify-content: space-between;
  }

  .nav__items {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

}

@media @desktop-w {

  .nav {
    flex-direction: row;
    justify-content: space-around;

      a {
        .font(18px, 18px);
        .font-regular();
        text-transform: none;

        color: @white;
      }


    .nav__item-main {
      flex-grow: 1;
    }

    .nav__items {
      flex-direction: row;
      align-items: center;
      justify-content: space-around;
      flex-grow: 2;
    }

    .nav__cross {
      display: none;
    }

  }

}
