.nav {
  width: 100%;

  background-color: @navydark;

  a {
    .font(18px, 32px);
    .font-bold();
    .uppercase();

    color: @white;
  }

  .nav__item-main {
    display: flex;
    justify-content: space-between;

    padding-top: 21px;
    padding-left: 20px;
    padding-right: 19px;
    padding-bottom: 14px;

    background-color: @navy;
    border-bottom: 1px solid black;

    img {
      display: block;
      margin-bottom: 10px;
    }

    a {
      width: 100px;
      height: 30px;

      font-size: 0px;
      background-image: url('../img/logo-pink-white-mobile.svg');
      background-repeat: no-repeat;
    }

  }

  .nav__items {
    display: flex;
    flex-direction: column;

    background-color: @navy;

    .nav__item {
      width: 100%;
      padding-top: 15px;
      padding-bottom: 15px;

      text-align: center;
      border-bottom: 1px solid black;
      border-top: 1px solid rgba(255, 255, 255, 0.15);
    }

  }

}

@media @tablet-w {

  .nav {

    .nav__item-main {
      padding-top: 27px;
      padding-left: 40px;
      padding-right: 39px;
      padding-bottom: 32px;

      a {
        width: 150px;
        height: 50px;
        background-image: url('../img/logo-pink-white-tablet.svg');
      }

      img {
        margin-bottom: 0px;
        margin-top: 7px;
      }

    }

  }

}

@media @desktop-w {

  .nav {
    display: flex;
    background-color: rgba(0, 0, 0, 0.3);
    padding-left: 130px;
    padding-right: 130px;
    padding-bottom: 32px;
    padding-top: 27px;

    a {
      .font(18px, 18px);
      .font-regular();
      text-transform: none;

      color: @white;
    }

    .nav__item-main {
      width: 28%;
      padding: 0px;
      border: none;
      background-color: transparent;

      a {
        background-image: url('../img/logo-pink-white-desktop.svg');
        background-repeat: no-repeat;
      }

      .nav__item-main-cross {
        display: none;
      }

    }

    .nav__items {
      flex-direction: row;
      padding-top: 16px;
      width: 72%;

      border: none;
      background-color: transparent;

      .nav__item {
        padding: 0px;
        padding-left: 16px;

        border: none;
      }

    }

  }

}
