.page-header {

}

.page-header__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  background-image: url('../img/bg-back-mobile@1x.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: -216px 250px;
}

@media @tablet-w {

  .page-header {
    padding-bottom: 65px; //TEMP
  }
}

@media @desktop-w {

  .page-header {
    // padding-bottom: 0px; //TEMP
  }

  .page-name {

    img {
      height: 243px; //TEMP
    }

  }

}
