.page-header__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  background-color: @navydark;
  // background-image: url('../img/bg-back-mobile@1x.jpg');
  // background-repeat: no-repeat;
  // background-position: -191px 256px;
}


@media @tablet-w {

  .page-header__container {

  }

}

@media @desktop-w {

  .page-header__container {

  }

}
