.page-name {
  padding-top: 14px;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 37px;

  text-align: center;

  background-image: url('../img/bg-back-mobile@1x.jpg');
  background-repeat: no-repeat;
  background-position: center -72px;
  background-size: 221%;

  h1 {
    .font(24px, 29px);
    .font-light();
    color: @white;
    font-weight: normal;
  }

}

.page-name--photo {
  padding-bottom: 66px;
}

@media @tablet-w {

  .page-name {
    padding-top: 35px;
    padding-left: 55px;
    padding-right: 55px;

    background-image: url('../img/bg-back-tablet@1x.jpg');
    background-position: center -111px;
    background-size: 172%;

    h1  {
      .font(50px, 60px);
    }

  }

  .page-name--photo {
    padding-bottom: 107px;
  }

  .page-name--form {
    padding-bottom: 48px;
  }

}

@media @desktop-w {

  .page-name {
    padding-top: 65px;
    padding-left: 84px;
    padding-right: 84px;
    padding-bottom: 102px;

    background-image: none;

    h1  {
      margin: 0px;
      padding-left: 232px;
      padding-right: 232px;

      .font(50px, 59px);
    }

  }

}
