.photo {
  background-color: @white;

  p {
    .font();
    .font-regular();
  }

}

.photo__item {

  p {
    .font(12px, 24px);
    .font-regular();
    color: @navy;
  }

  h1 {
  .font(12px, 24px);
  .font-bold();
  color: @navy;
}

}

.photo__item-time {
  .font(12px, 24px);
  .font-regular();
  color: @navy;
  .uppercase();
}

.photo__item-img span {
  background-color: @pink;
  .font(12px, 24px);
  .font-bold();
  color: @white;
  .uppercase();
}

.photo__item-like {
  .font(12px, 24px);
  .font-regular();
  color: @pink;
  .uppercase();
}

.photo__post p {
  .font();
  .font-regular();
  color: @navy;
}
