.price {

  &__container {
    padding-top: 90px; //TEMP
    padding-bottom: 133px; //TEMP
    background-color: @grey;
  }

  th:not(:nth-child(1)) {
    background-color: @navy;
  }

  h2 {
    .font(18px, 30px);
    .font-regular();
    color: @white;
    .uppercase();
    // font-weight: normal;
  }

  span {
    .font(24px, 30px);
    .font-light();
    color: @white;
    .uppercase();
  }

  td:nth-child(1) {
    .font(14px, 24px);
    .font-regular();
    color: @navy;
  }

  td {
    background-color: @white;
  }

  // .price__options {
  //   .font();
  //   .font-regular();
  //   color: @navy;
  //   .uppercase();
  //   background-color: @white;
  // }

}

@media @tablet-w {

  .price {


    table {
      width: 100%;

      border-collapse:collapse;

      td {
        padding: 10px;

        border: 2px solid @light-grey;
      }

      th:nth-child(1) {
        background-color: @white;
      }

      tr:not(:nth-child(1)) {
        background-color: @white;
      }

    }

  }

}
