.slider-price__title {
  background-color: @navy;
}

.slider-price__title h2 {
  .font (18px, 30px, 700);
  color: @white;
  .uppercase();
}

.slider-price__title span {
  .font (24px, 30px, 300);
  color: @white;
  .uppercase();
}

.slider-price__options {
  .font ();
  color: @navy;
  .uppercase();
}

