.slider {
  background-color: @white;

  h3 {
    .font(18px, 30px);
    .font-bold();
    color: @black;
  }

  p {
    .font();
    .font-regular();
    color: @navy;
  }

  span {
    display: none;
    .font(14px, 30px);
    .font-regular();
    color: @navy;
  }

}

@media @tablet-w {

  .slider {

    .slider__feedback {
      display: flex;
      flex-direction: column;
    // align-items: center;
    }

    .slider__feedback-title {
      order: 2;
    }

    p {
      order: 1;
    }

    span {
      display: inline;
      order: 3;
    }

  }

}
